* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial,'Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

.header-top {
  background-color: #eee;
  text-align: center;
  font-size: 11px;
  padding: 4px;
}

.header-bottom {
  padding: 5px;
}

.headerb-left {
  text-align: center;
}

.headerb-left img {
  width: 185px;
}

.headerb-right {
  display: none;
}

.headerb-right .telephone {
  color: #888;
}

.telephone .number {
  font-size: 13px;
}

.top-wrapper {
  background-image: url("../img/bg-cover-sp.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding-bottom: 13vw;
}

.top-wrapper .parent{
  position: relative;
  height: 100%;
  width: 100%;
}

.top-wrapper .main-text {
  width: 75%;
  height: 50%;
  margin-top: 8vw;
  margin-left: 2vw;
}

.top-wrapper .person-sp {
  width: 30%;
  display: inline-block;
  position: absolute;
  top: 1.2vw;
  right: 0.05vw;
}

.top-wrapper .person-pc {
  display: none;
}

.message-wrapper {
  background-color: #eee;
}

.message-top {
  text-align: right;
  font-size: 11px;
  padding: 2vw;
}

.message-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 4vw;
}

.message-box span {
  color: #ff5089;
}

.message-box h2 {
  font-size: 19px;
}

.message-box h3 {
  font-size: 15px;
  margin: 4vh 0px 10px;
}

.box1, .box2, .box3 {
  background-color: #fff;
  margin-bottom: 3vh;
  padding: 18px 0;
}

.box1 h2{
  position: relative;
  display: inline-block;
  background-image: url("../img/icon-lead03.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 37px;
  background-size: 30px;
}

.box2 h2{
  position: relative;
  display: inline-block;
  background-image: url("../img/icon-lead01.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 18px;
  background-size: 15px;
}

.box3 h2{
  position: relative;
  display: inline-block;
  background-image: url("../img/icon-lead02.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 28px;
  background-size: 24px;
}

.box1 h2::after, .box2 h2::after, .box3 h2::after {
  content: "";
  display: inline-block;
  border-bottom: 2px solid #ff93ac;
  width: 35px;
  position: absolute;
  top: 115%;
}

.box1 h2::after {
  right: 39%;
}

.box2 h2::after {
  right: 34%;
}

.box3 h2::after {
  right: 40%;
}

.box-bottom {
  font-size: 15px;
}

.box-bottom-sub {
  font-size: 11px;
}

.bar-sp {
  display: block;
  width: 100%;
}

.bar-pc {
  display: none;
}

.campaign {
  border: 3px solid #ff4a4a;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  padding: 12px 7px;
}

.campaign span {
  color: #ff4a4a;
}

.question-wrapper {
  background: repeating-linear-gradient(-45deg, #eee ,#eee 2px  ,#fff 4px);
  position: relative;
  padding: 7vw 4vw;
}

.question-wrapper::after {
  content: '';
  background-image: url('../img/bg-filter.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 1px;
  left: 0px;
}

.question-list {
  max-width: 400px;
}

.question-list li {
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  background-image: url("../img/quotation-l.png"), url("../img/quotation-r.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 20px;
  max-width: 400px;
  width: 100%;
  padding: 10px 15px;
}



.question-list::after {
  content: "";
  display: inline-block;
  background-image: url("../img/bg-problem.png");
  background-position: right bottom;
  background-size: 100%;
  width: 104px;
  height: 100%;
  position: absolute;
  top: 0vw;
  right: 0vw;
  background-repeat: no-repeat;
  margin-right: 4vw;
}

.question-list li span {
  color: #ff5089;
}

.question-list li br {
  display: none;
}

.reason-wrapper {
  text-align :center;
  padding-top: 40px;
}

.reason-wrapper span {
  color: #ff5089;
}

.reason-top p, .environment-top p {
  background-image: url("../img/cheer-d_l.png"), url("../img/cheer-d_r.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 16px;
  display: inline-block;
  width: 217px;
  font-weight: bold;
  font-size: 15px;
}

.reason-top h2 {
  padding-top: 10px;
  font-size: 21px;
  line-height: 1.0;
}

.reason-top .three {
  font-family: "游明朝", YuMincho,'Yu Mincho', Century, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  font-size: 36px;
}

.reason1 {
  padding-top: 40px;
}

.reasonimg {
  position: relative;
  z-index: 1;
}

.reasonimg::before {
  content: "";
  display: inline-block;
  background-color: #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
}

.reasonimg .imgspase {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 0 10px;
}

.reasonimg img {
  width: 73px;
  height: 73px;
}

.reason1 h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox {
  background-image: url("../img/quotation02-l.png"), url("../img/quotation02-r.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 13px 53px;
  display: inline-block;
  position: relative;
  padding: 0px 48px;
}

.reason1 .content .message {
    max-width: 237px;
}

.checkbox img {
  width: 50px;
  position: absolute;
  bottom: 20px;
  left: -16px;
}

.checkbox p {
  font-weight: bold;
  display: inline;
  background: linear-gradient(transparent 70%, #fff79a 0%);
  max-width: 227px;
}

.checkbox .message p {
  display: inline;
}

.reason1 .message p .nontax1 {
  color: black;
  font-size: 12px;
}

.checkbox p span {
  font-size: 27px;
  color: #ee7e94;
}

.reasonbox1 {
  padding-top: 40px;
}

.reasonbox1 .img {
  background-image: url("../img/img-reason01-detail01.png");
}

.reasonbox2 .img {
  background-image: url("../img/img-reason01-detail02.png");
}

.reasonbox1 .img, .reasonbox2 .img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 179px;
  position: relative;
  max-width: 285px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}



.reasonbox1 .img .reasonable1, .reasonbox1 .img .reasonable2, .reasonbox2 .img p {
  display: inline-block;
  position: absolute;
  font-family:  "游明朝", YuMincho,'Yu Mincho', Century, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

.reasonbox2 .img p {
  top: 11px;
  right: 14px;
  line-height: 1.3;
}

.reasonbox1 .img .reasonable1 {
  top: 15px;
  left: 23px;
}

.reasonable1 span, .reasonbox2 .img span {
  font-size: 24px;
}

.reasonbox1 .img .reasonable2 {
  top: 44px;
  left: 44px;
}

.reasonbox1 .box, .reasonbox2 .box, .reasonbox3 .box {
  border: 1px solid black;
}

.reasonbox1 .box h2, .reasonbox2 .box h2, .reasonbox3 .box h2 {
  background-color: #fcebeb;
  font-size: 22px;
  margin: 4px 3px 0px;
  padding: 10px 0;
}

.reasonbox1 .box .nontax {
  font-size: 14px;
  color: black;
}

.reasonbox2 {
  margin: 30px 0px;
}

.reasonbox .box p {
  font-size: 14px;
  text-align: left;
  margin: 0px 15px;
  padding: 18px 0;
  border-top: 1px dotted black;
}

.reasonbox .box p span, .reasonbox3 table span {
  color: black;
  background: linear-gradient(transparent 70%, #fff79a 0%);
}

.reasonbox3 table {
  margin: 0px 15px;
  padding: 18px 0;
  border-top: 1px dotted black;
  width: 95%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 2;
}

.reasonbox3 td {
  border-right: 1px dotted black;
  width: 49%;
  display: inline-block;
}

.reasonbox3 tr {
  border-bottom: 1px dotted black;
  width: 100%;
  display: inline-block;
}

.reasonbox3 tr:last-child {
  border-bottom: none;
}

.reasonbox3 td:nth-child(even) {
  border-right: none;
}

.reason2 {
  padding: 55px 0 5px;
}

.reason2 h1 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.reason2 h1 span {
  font-size: 28px;
}

.reason2 .reason-top {
  margin-top: 27px;
}

.time-contents {
  padding-top: 30px;
}

.time-contents p {
  text-align: left;
  font-size: 14px;
}

.time-contents img {
  width: 97%;
  margin: 15px 0;
}

.morning .message h2::before, .holiday .message h2::before, .after-work .message h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  margin: 0 auto 10px;
}

.morning .message h2::after, .holiday .message h2::after, .after-work .message h2::after {
  content: "";
  display: block;
  width: 200px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.morning .message h2::before {
  background-image: url("../img/icon-am.png");
}

.morning .message h2::after {
  background-image: url("../img/morning.png");
}

.morning .message h2 br {
  display: none;
}

.holiday .message h2::before {
  background-image: url("../img/icon-holiday.png");
}

.holiday .message h2::after {
  background-image: url("../img/holiday.png");
  width: 107px;
}

.after-work .message h2::before {
  background-image: url("../img/icon-night.png");
}

.after-work .message h2::after {
  background-image: url("../img/afterwork.png");
  width: 144px;
  height: 50px;
}

.environment-contents {
  margin-top: 45px;
}

.environment-contents .container {

  margin: 0 auto;
}

.environment-top p {
  width: 239px;
}

.environmental-message p {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
}

.environment-contents h1, .environment-contents h1 span{
  font-size: 36px;
}

.environment-contents .img-sp img {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
}

.environment-contents .img-pc img  {
  display: none;
}

.station-contents::before {
  content: "";
  display: block;
  width: 0px;
  border-style: solid;
  border-width: 19px 50px 0px 50px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
}

.station-contents {
  background-image: url("../img/bg-station.jpg");
  background-size: cover;
  margin: 45px 0;
  padding: 80px 4vw;
  position: relative;
}

.station-contents .message {
  background-color: #fff;
  padding: 30px 13px 30px;
}

.station-contents .message .top p {
  background-image: url("../img/cheer-s_l.png"), url("../img/cheer-s_r.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 310px;
  margin: 0 auto;
}

.station-contents .border-bottom {
  color: black;
  border-bottom: 3px solid #fff79a;
}

.station-contents .bottom {
  padding-top: 20px;
}

.new {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.new::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background: linear-gradient(to right,#d3d3d3 78%, #fff 51% );
  background-size: 7px 2px;
  position: relative;
  bottom: 10px;
}

.station-contents::after {
  content: "";
  background-image: url("../img/img-station_sp.png");
  display: block;
  background-size: contain;
  width: 132px;
  height: 104px;
  position: absolute;
  bottom: 0px;
}

.reason3 .reason-top {
  margin: 24px 0 0;
}

.reason3 .reason-top p {
  width: 295px;
}

.reason3 h1 {
  font-size: 16px;
  margin-bottom: 43px;
}

.reason3 h1 span {
  font-size: 21px;
}

.reason3 .checkbox p span {
  font-size: 24px;
}



.pro-contents h2 {
  font-size: 18px;
  margin: 56px 0 17px;
  background-image: url("../img/cheer-s_l.png"), url("../img/cheer-s_r.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 20px 42px;
  max-width: 322px;
  margin: 58px auto 10px;
}

.pro-img {
  padding: 13px 26px;
  background: repeating-linear-gradient(-45deg, #f4d1db, #f4d1db 5px, #f5d6df 5px,#f5d6df 10px);
  border-radius: 7px;
  margin: 10px;
}

.pro-img img {
  width: 100%;
}

.interesting-person {
  display: inline-block;
  position: relative;
}

.interesting-img {
  width: 284px;
}

.interesting-img .sp-only, .interesting-img .pc-only{
  width: 100%;
  vertical-align: bottom;
}

.interesting-img .pc-only {
  display: none;
}

.interesting-text {
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 21px;
  transform: rotate(16deg);
}

.interesting-text span {
  color: black;
  font-weight: bold;
}

.any-wrapper {
  background: repeating-linear-gradient(-45deg,#f8b4c4,#f8b4c4 40px,#f9bac9 40px,#f9bac9 80px);
  position: relative;
  padding-bottom: 220px;
}

.any-wrapper::before {
  content: "";
  background-image: url(../img/bg-anytime-sp.jpg);
  background-position: center;
  display: block;
  background-size: cover;
  width: 100%;
  height: 219px;
  position: absolute;
  top: 0;
}



.any-wrapper .container {
  width: 92%;
  margin: 0 auto;
  position: relative;
  top: 179px;
}

.mainbox {
  background-color: #fff;
  padding: 56px 24px;
}

.any-wrapper h2::before {
  content:"";
  display: block;
  background-image: url("../img/catch-anytime.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 157px;
  height: 30px;
  margin: 0 auto;
  position: absolute;
  top: 23px;
  margin-left: -75px;
  left: 50%;
}

.study-contents {
  display: flex;
  flex-direction: column;
}

.study-contents img {
  max-width: 120px;
}

.study-contents p {
  font-weight: bold;
  font-size: 17px;
}

.study-contents p br {
  display: none;
}

.study-contents p span {
  background: linear-gradient(transparent 70%, #fff79a 70%);
}

.any-wrapper .mainbox h3 span {
  color: #de264c;
}

.pc-content, .tablet-content, .mobile-content {
  margin-top: 25px;
}

.mainbox h3 {
  margin-top: 32px;
  font-size: 20px;
}

.event-wrapper {
  background-color: #f2f2f2;
  padding-bottom: 45px;
}

.event-wrapper .container {
  padding: 45px 10px;
}

.event-wrapper h1, .event-wrapper h1 span {
  font-size: 28px;
  margin-bottom: 10px;
}

.event-wrapper .message {
  text-align: left;
  margin: 10px 0 20px;
}

.event-wrapper #slider div {
  height: 240px;
}

.event-picture .slick-slide img {
  width: 100%;
}

.dream-wrapper {
  text-align: center;
  padding: 40px 0 80px;
  background-image: url("../img/bg-dream.jpg"), url("../img/grd_white.png");
  background-repeat: no-repeat, repeat-x;
  background-position: bottom, left top;
  background-size: auto 270px, auto;
  background-repeat: no-repeat, repeat-x;
  position: relative;
}

.dream-wrapper::after {
  content: "";
  display: block;
  background-image: url("../img/bg-filter2.png");
  width: 100%;
  height: 20px;
  background-size: 1500px 21px;
  background-position: bottom;
  position: absolute;
  bottom: 0;
}

.dream-wrapper .sp-only {
  margin-bottom: 10px;
}

.dream-wrapper .sp-only img{
  width: 70%;
  max-width: 280px;
}

.dream-wrapper .pc-only {
  display: none;
}

.dream-wrapper h2 {
  font-size: 20px;
}

.dream-wrapper h1, .dream-wrapper h1 span {
    font-size: 26px;
}

.dream-boxes {
  max-width: 300px;
  margin: 0 auto;
}

.dream-boxes .box1,.dream-boxes .box2,.dream-boxes .box3 {
  width: 130px;
  height: 130px;
  background-color: #f191a4;
  padding: 4px;
  color: white;
  margin: 15px auto;
}

.dream-boxes .box2 {
  display: inline-block;
  margin-right: 15px;
}

.dream-boxes .box3 {
  display: inline-block;
}

.dream-boxes .in {
  border: 1px solid #fff;
  height: 100%;
  padding: 30px 0;
}

.dream-boxes p {
  font-size: 12px;
  margin-bottom: 15px;
}

.dream-boxes h3 {
  font-size: 15px;
  position:relative;

}

.dream-boxes h3::before {
  content: "";
  display: block;
  width: 34px;
  border-top: 1px solid #fff;
  position: absolute;
  left: 50%;
  top: -7px;
  margin-left: -17px;
}

.keiko-wrapper {
  background: repeating-linear-gradient(-45deg,#f8b4c4,#f8b4c4 40px,#f9bac9 40px,#f9bac9 80px );
  padding: 40px 5vw;
}

.keiko-wrapper .container {
  background-color: #fff;
  border: 1px solid #ccc;
}

.keiko-wrapper .container h2 {
  font-size: 24px;
  text-align :left;
  margin-bottom: 32px;
}

.keiko-wrapper .container h2 br {
  display: none;
}

.keiko-wrapper .message-outer {
  background-image: url("../img/img-message-sp.jpg");
  background-position: left bottom;
  background-size: 237px 180px;
  background-repeat: no-repeat;
  padding: 24px 20px 0;
  position:relative;
}

.message-outer-box {
  padding-bottom: 195px;
}

.manybox {
    background-color: #e9e9e9;
    text-align: left;
    padding: 14px 13px;
}

.manybox h3 {
    font-size: 16px;
}

.manybox p {
    font-size: 12px;
}

.keiko-wrapper .text h2 {
  margin: 20px 0;
    font-size: 17px;
    color: #ff5089;
}

.keiko-wrapper .text p {
    text-align: left;
}

.keiko-wrapper .text .p2 {
  margin-top:10px;
}

.keiko-wrapper .text .name {
  font-size: 12px;
  position: absolute;
    bottom: 44px;
    left: 159px;
}

.teacher-wrapper {
  background-color: #f2f2f2;
  padding: 40px 3vw 80px;
}

.teacher-wrapper h1, .teacher-wrapper h1 span {
  font-size: 40px;
  text-align: center;
}

.teacher-wrapper h1 span {
  color: #ff5089;
}

.teacher-box {
    background-color: #fff;
    font-weight: bold;
    padding: 15px 13px;
    margin-bottom: 45px;
}

.teacher-box br {
  display: none;
}

.slick-btn {
  width: 35px;
  height: 35px;
}

#text-slider {
  background-color: #ff679a;
  padding: 20px;
  border-radius: 10px;
  position:relative;
  max-width: 632px;
  margin: 0 auto;
}

#text-slider::after {
  content: "";
  display: block;
  border-width: 12px;
  border-style: solid;
  border-color: #ff679a transparent transparent;
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -6px;
}

#teacher-slider .slick-slide img {
  width:70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}

#teacher-slider #text-slider p {
  font-size: 14px;
  color: #fff;
}

#img-slider {
  position: relative;
  height: 100px;
  max-width: 1000px;
  margin: 40px auto 0;
}

#img-slider p {
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
}

#img-slider .slick-arrow {
  z-index: 2;
  position:absolute;
  top: 50%;
  margin-top: -25.5px;
}

#img-slider .prev-btn {
  left: 0px;
}

#img-slider .next-btn {
  right: 0px;
}

#img-slider .slick-slide {
  width: 100px;
}

#img-slider .slick-center img {
  width: 110px;
  height: 110px;
}

.voice-wrapper {
  text-align: center;
  padding: 40px 20px;
}

.voice-wrapper h2::before {
  content:"";
  background-image: url("../img/catch-voice.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 141px;
  height: 42px;
  display: block;
  margin: 0 auto;
}

.voice-wrapper h2 {
  font-size: 27px;
}

.voice-wrapper h2 span {
  color: #ff5089;
}

.personimg {
  margin: 0 auto;
  max-width: 210px;

}

.personimg img {
    border-radius: 50%;
    width: 100%;
    height: 210px;
}

.student-contents {
  margin: 45px 0px;
}

.yurika, .ayumi, .yuuri, .satoshi {
  background-color: #ffeff3;
    padding: 15px;
    position: relative;
    margin-bottom: 35px;
}

.yurika::before, .ayumi::before, .yuuri::before, .satoshi::before {
  content:"";
  background-image: url("../img/voice-corner_top.png");
  background-position: left top;
  background-repeat: no-repeat;
    background-size: 50px;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.yurika::after, .ayumi::after, .yuuri::after, .satoshi::after {
  content:"";
  background-image: url("../img/voice-corner_bottom.png");
  background-position: right bottom;
  background-repeat: no-repeat;
    background-size: 50px;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.yurika .container, .ayumi .container, .yuuri .container, .satoshi .container {
  border: 1px solid black;
  background-color: #fff;
  padding: 40px 20px;
}

.personmessage {
    text-align: left;
}

.personmessage .name {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}

.personmessage .name p {
    display: inline-block;
}

.personmessage .name .school {
    background-color: #ff93ac;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    padding: 2px 10px;
    margin-right: 10px;
}

.personmessage .name span {
    font-weight: bold;
    font-size: 18px;
}

.personmessage .message h1 {
    color: #ff5089;
    font-size: 26px;
    margin: 15px 0px;
}

.commentbox::before {
  content: "";
  display: block;
  background-image: url("../img/bg-othervoice_sp.jpg");
  background-position: center top;
  background-size: cover;
    width: 143px;
    height: 138px;
    margin: 0 auto;
}

.comment {
    background-color: #ffeff3;
    font-weight: bold;
    font-size: 14px;
    padding:8px;
    margin-bottom: 15px;
    height: 50px;
}

.comment div {
  background-image:url("../img/quotation03-l.png"),url("../img/quotation03-r.png");
  background-position: left top, right bottom;
  background-size: 15px;
  background-repeat: no-repeat;
  line-height: 34px;
}

.comment div br {
  display: none;
}

.comment div span {
  color: #ff5089;
}

.comments a {
    color: #ff5089;
    display: block;
    margin-top: 25px;
}

.comments a::before {
    content:"";
    display:inline-block;
    background-image: url(../img/arrow-pink_l.png);
    background-position: left;
    background-size: 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.step-wrapper {
  background-color: #fad5d3;
  padding: 60px 20px;
}

.step-wrapper h1::before {
  content:"";
  background-image: url("../img/catch-flow.png");
  background-size: contain;
    display: block;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 191px;
    height: 45px;
}

.step-wrapper h1 {
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 30px;
}

.step-wrapper h1 span {
    font-size: 29px;
}

.step1,.step2,.step3,.step4 {
  background-color: #fff;
  margin-bottom: 30px;
  position:relative;

}

.step1::after,.step2::after,.step3::after,.step4::after {
  content:"";
  display: inline-block;
  background-position: left top;
  background-size: contain;
  width: 60px;
  height: 60px;
  position:absolute;
  top: 0;
}



.step1::after {
  background-image:url("../img/step01.png");
}

.step2::after {
  background-image: url("../img/step02.png");
}

.step3::after {
  background-image: url("../img/step03.png");
}

.step4::after {
  background-image: url("../img/step04.png");
}



.step1 .in,.step2 .in ,.step3 .in,.step4 .in {
  padding: 20px;
  width: 100%;
}


.step-contents .img {
    width: 260px;
    margin: 0 auto;
}

.step-contents .img img {
    width: 100%;
    border-radius: 50%;
}

.step1 .in h2,.step2 .in h2,.step3 .in h2,.step4 .in h2 {
  text-align: center;
  font-size: 22px;
  line-height: 10px;
}

.step1 h2::after,.step2 h2::after,.step3 h2::after,.step4 h2::after {
  content:"";
  display: block;
  border-bottom: 2px solid #ff5089;
  width: 40px;
  height: 20px;
  margin: 0 auto 10px;
}

.text {
    width: 100%;
    z-index: 2;
    margin-top: -20px;
}

.h2-top {
  text-align: center;
}

.h2-top p {
  text-align: center;
  background-color: #ff93ac;
  display: inline-block;
  width: 250px;
  margin: 0 auto 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;

}

.h2-top p::after {
  content:"";
  display: inline-block;
  border-width: 5px;
  border-style:solid;
  border-color: #ff93ac transparent transparent transparent;

}

.like-wrapper {
    background-image: url(../img/bg-perorate.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
    padding: 100px 0;
    position: relative;
}

.like-wrapper .img{

    max-width: 186px;
    margin-left: 30px;
}


.like-wrapper .img img {
    width: 100%;
}


.like-wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-position: center;
    background-image: url(../img/bg-filter2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
}

.footer-top {
  background-color: #eee;
  padding: 50px 5vw;
}

.footer-top ul {
  text-align: center;
  margin-bottom: 20px;
}

.footer-top li {
    list-style: none;
    display: inline-block;

}

.sns-icon {
    max-width: 220px;
    margin: 0 auto ;

}

.sns-icon li {
  margin-right: 10px;
}

.school, .company-link {
    font-size: 14px;
}

.school li, .company-link li {
    padding: 0px 7px;
    border-right: 1px solid black;
}

.school li:last-child, .company-link li:last-child {

    border-right: none;
}

footer .logo {
    max-width: 185px;
    margin: 15px auto 0px;
}

footer .logo img {
    width: 100%;
}

footer p {
  background-color: #ee7e94;
  color: #fff;
    font-size: 12px;
    text-align: center;
    height: 50px;
    padding: 20px;
    margin-bottom: 50px;
}

.fixed-wrapper {
  position: fixed;
  z-index: 10;
  bottom:0;
  width: 100%;
}

.inline {
    background-color: #fff;
    height: 50px;
}

.fixed-wrapper .lesson {
    float: right;
}

.fixed-wrapper .contact {
    float: left;
}

.fixed-wrapper .contact, .fixed-wrapper .lesson {
    display: block;
    background-color: #de264c;
    width: 49.8%;

    text-align: center;
    text-decoration: none;
    color: white;
    height: 50px;
    padding: 16px 0;
}

.fixed-wrapper .contact span::before {
  background-image: url("../img/icon-sp_contact.png");
  width:15px;
  height:15px;
  margin-right: 1px;
}

.fixed-wrapper .lesson span::before {
  background-image: url("../img/icon-sp_trial.png");
  width: 16px;
    height: 13px;
    margin-right: 5px;
}

.fixed-wrapper .contact span::before, .fixed-wrapper .lesson span::before {
  content: "";
  display: inline-block;

  background-position:left;
  background-repeat: no-repeat;
    background-size: contain;

}

#up {
    position: absolute;
    bottom: 60px;
    right: 12px;
    width: 37px;
    display: none;
}

#up img {
    width: 100%;
}
